@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$main-font: 'Cookie', cursive;
body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    #main-container {
        padding: 80px;
        color: white;
        display: block;
        text-align: center;
        font-family: $main-font;
        font-size: 40px;
        #form {
            margin: 20px;
            text-align: left;
            color: white;
            font-size: 40px;
        }
    }
    
}

